<form #inscriptionForm="ngForm">
    <p>Inscription</p>
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username"
        [(ngModel)]="form.username" required minlength="3" maxlength="30">
    </div>
    <div>
        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="password"
            [(ngModel)]="form.password" required minlength="8" maxlength="64"
            (ngModelChange)="onValueChange()">
        <label for="password2">Confirmez le Mot de passe :</label>
        <input type="password" id="password2" name="password2"
            [(ngModel)]="form.password2" required minlength="8" maxlength="64"
            (ngModelChange)="onValueChange()">
        </div>
        <p>Password must contain at least one uppercase letter, one digit, and one special character'</p>
    <div class="buttons">
        <button (click)="click()">retour</button>
        <button (click)="inscription()"
            [disabled]="!inscriptionForm.valid || !isSame"
        >S'inscrire</button>
    </div>
</form>