:host{
    display: flex; justify-content: flex-start; align-items: center;
    flex-direction: column; row-gap: 10px;
}
form {display:content;}
:host .buttons {
    margin-top: 10px;
    display: flex; justify-content: space-between; column-gap: 10px;
}